<link href="css/login.css" rel="stylesheet">
<link href="landpks_css/login_wall.css" rel="stylesheet">
<div>
	<ion-view view-title="LandPKS" hide-back-button="true" cache-view="false">
	<ion-nav-buttons side="right"></ion-nav-buttons> 
	<ion-content>

	<div class="padding" >
	    <br/><br/>


		<button id="loginGoogleDevice" class="loginBtn loginBtn--google"
			ng-click="googleSignIn_Device_2();">{{labels.sign_in_with_google}}</button>

		<button id="loginGoogleWebBrowser"  class="loginBtn loginBtn--google"
			ng-click="googleSignIn_WebBrowser();">{{labels.sign_in_with_google}}</button>

	</div>
	</ion-content> </ion-view>
</div>
