<ion-view view-title="Landscape North" cache-view="false" hide-back-button="false"> 
<ion-content class="padding" overflow-scroll="true">
    <div class="padding" align="center">
       <br/>
       <!--  <img ng-src="{{pictureURL}}" style="width:90%;height:50%"> -->
       <br/>
       <button ng-click="takePicture();"
         class="button button-block button-balanced"><i class="icon ion-camera"></i>&nbsp;Take & Save Picture </button>
       <!--   <button ng-click="saveNorthPhoto();"
         class="button button-block button-balanced"><i class="icon ion-upload"></i>&nbsp;Save LandScape North Photo</button> -->
    </div>
</ion-content>
</ion-view>
