<ion-view view-title="Landscape South" cache-view="false" hide-back-button="true"> 
<ion-content class="padding" overflow-scroll="true">

    <div class="padding" align="center">
       <br/>
       <!--  <img ng-src="{{pictureURL}}" style="width:90%;height:50%"> -->
       <br/>
       <button ng-click="takePicture();"
         class="button button-block button-balanced"><i class="icon ion-camera"></i>&nbsp;Take & Save Picture</button>
       <!--  <button ng-click="saveSouthPhoto();"
         class="button button-block button-balanced"><i class="icon ion-upload"></i>&nbsp;Save LandScape South Photo</button> -->
    </div>
</ion-content>
</ion-view>
