input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

input[type='number'] {
    -moz-appearance:textfield;
}

.text_underline {
	border-style: solid; 
    border-width: 0px 0px 1px 0px; 
    border-color: blue;
}

.lpks_col {
    border: solid 1px grey;
    border-bottom-style: none;
    border-right-style: none;
}

.body { 
	background-color: #EDEDED;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 12px;
	margin: 0px;
	padding: 0px;
	margin-top: 0px;
}


.lpks-button {
	background-color: #009100;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: white;
	font-size: 14px;
	border-radius: 10px;
	box-shadow: none;
	border: none;
	padding: 10px;
	display: block;
	position: absolute;
	left: 10px;
}

.lpks-p {
	font-weight: bold; 
	font-size: 15px;
	text-indent: 15px;
}



.othercomponent {
	width: 95%;
	height: auto;
	color: black;
	background-color: white;
	border-collapse: collapse;
	align: center;
	border-radius: 10px;
	display: block;
    margin-left: auto;
    margin-right: auto;
	text-align: left;
	text-indent: 20px;
	line-height: 30px;
	font-size: 12px;
	padding: 5px;
}

.lpks-input-label {
	border-radius: 10px;
	font-size: medium;
	background-color: white;
	color: black;
	box-shadow: none;
	padding: 3px;
	text-align: left;
	width: auto;
	border:none;
	display: inline-flex;
}

.horizontalbreak {
	border: 0;
    height: 6px;
    background: #009100;
	color: #009100;
}

.divider_left{
    border-left:6px solid grey;
	border-color: #009100;
}
